<header>
  <a href="index.html" class="logo"><img src="assets/images/logo.png" alt="Logo Meraki"></a>
</header>

<nav>
  <ul class="menu">
    <li><a href="index.html" class="menu-link" data-page="index">Accueil</a></li>
    <li><a href="offres.html" class="menu-link" data-page="offres">Offres</a></li>
    <li><a href="galerie.html" class="menu-link" data-page="galerie">Portfolio</a></li>
    <li><a href="clients.html" class="menu-link" data-page="clients">Témoignages</a></li>
    <li><a href="about.html" class="menu-link" data-page="about">À propos</a></li>
    <li><a href="contact.html" class="menu-link" data-page="contact">Contact</a></li>
    <li class="lang-switch"><a href="#" id="langSwitch">EN</a></li>
  </ul>
</nav>
